<h1>{{title}}</h1>
<p>Welcome tao {{title}}</p>
<p>a</p>
<button >asdasd</button>

<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="image" />
  <button type="submit">Upload</button>
</form>